

.navbar {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  z-index: 99;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.menu-item {
  float: right;
  background:none;
  border:none;
  display: block;
  color: #323232;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.menu-item:hover {
  background: #ddd;
  color: black;
  text-decoration: line-through;
}

.sticky {
  position: fixed;
  top: 0;
  padding-right: 45px;
}
